<!DOCTYPE html>
<html>
<head>
  <title>Quiz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-12 title">
			Creative Cat
		</div>
		<br />
		<div class="col-xs-12 subtitle">
			Creative name generator for your new Cat!
		</div>
	</header>

<br class="clear" />

<%= yield %>

</body>
</html>
